body{
    width:800px;
    margin:0 auto;
}

nav ul{
    display:flex;
    list-style:none;
    height:50px;
}

nav li{
    flex-grow:1;
    height:100%;
}

nav li a{
    display:block;
    background-color:antiquewhite;
    margin:0 10px;
    height:100%;
}

nav li a:hover{
    background-color:brown;
    color:antiquewhite;
}

article img{
    width:60%;
}