body{
    width:800px;
    margin:0 auto;
}

nav ul{
    display:flex;
    list-style:none;
    height:50px;
}

nav li{
    flex-grow:1;
    height:100%;
}

nav li a{
    display:block;
    background-color:antiquewhite;
    margin:0 10px;
    height:100%;
}

nav li a:hover{
    background-color:brown;
    color:antiquewhite;
}

article img{
    width:60%;
}

/* ~~~~~~~~~~~~~ Class demo ~~~~~~~~~~~~~~~~~ */

/* we can style elements based on their focus, whether they are active or not
(usually when a user has selected them) */
input:focus {
    border: 2px solid red;
    color: blueviolet;
}

/* hide the skip links using the position property */
.skip-links ul {
    list-style: none;
    position: relative;
}

.skip-links a {
    /* move them above the top of the page using position absolute */
    position: absolute;
    top: -10em;
}

/* make the link visible when it is focused (or when the user tabs to it) */
.skip-links a:focus {
    top: 0;
    background: darkorange;
    display: block;
    padding: 10px;
}

